<html>
    <head>
      <link href="../css/cpu.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>        
        {{#aPosters}}
        <div class="poster printpage">
            <h1>UTC OLP : Walking CPU</h1>
            <h1 class="roomname">{{name}}</h1>
            <h1 >Data : </h1>
            
            <h1 class="data">{{data}}</h1>
        </div>
        {{/aPosters}}
    </body>
</html>
